@use '../mixins/_utilities' as *;
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  align-items: stretch;
}

.full-page-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

sticky-header {
  height: 54px;
  min-height: 54px;
  max-height: 54px;
  width: 100%;
  z-index: 200;

  overflow: hidden;
}

.sticky-header-menu {
  height: 114px;
  min-height: 54px;
  width: 100%;
  z-index: 200;
  overflow: hidden;
}

.content-wrapper {
  width: 100%;
  position: fixed;
  padding-top: 24px;
  height: 100%;

  &.menu {
    padding-top: 98px !important;
  }
}

.scrollable-content {
  flex-grow: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: block;
}
