@use '../mixins/_utilities' as *;
@keyframes flipTop {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-90deg);
  }
}
@keyframes flipBottom {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.flip-card {
  position: relative;
  width: 80px;
  height: 120px;
  perspective: 1000px;
  margin: 0 4px;
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.top-card {
  top: 0;
}
.bottom-card {
  top: 60px;
}

.center-line {
  position: absolute;
  top: 59px;
  left: 2px;
  width: 76px;
  height: 2px;
  background: #0a0a0a;
  z-index: 5;
}

.flipping {
  position: absolute;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.top-flip {
  top: 0;
  z-index: 3;
  transform-origin: center bottom;
  animation: flipTop 0.3s ease-in forwards;
}

.bottom-flip {
  top: 60px;
  z-index: 2;
  transform-origin: center top;
  transform: rotateX(90deg);
  animation: flipBottom 0.3s 0.3s ease-out forwards;
}
