@use '../mixins/_utilities' as *;
@use 'sass:math';
@use '../mixins/glass' as *;
@use '../mixins/utilities' as *; // Import new utilities

.glass-modal-overlay {
  @include overlay;
}

.glass-modal-box {
  width: 90%;
  max-width: var(--max-width, 600px);
  max-height: 90vh;
  border-radius: var(--border-radius, 14px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-text-secondary);
  background-color: var(--color-system-background) !important;
  z-index: 2000;

  .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }

  .window-controls {
    display: flex;
    gap: 8px;
    z-index: 10;
  }

  .control-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    transition: transform 0.1s;
  }

  .close {
    background-color: #ff5f56;
  }

  .minimize {
    background-color: #ffbd2e;
  }

  .maximize {
    background-color: #27c93f;
  }

  .modal-header:hover .control-btn:active {
    transform: scale(0.9);
  }

  .header-slot {
    position: absolute;
    width: 100%;
    text-align: center;
    pointer-events: none;
    left: -13px;
  }

  .modal-body {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
    font-size: 0.9em;
  }

  .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity 0.3s ease;
  }

  .modal-fade-enter-from,
  .modal-fade-leave-to {
    opacity: 0;
  }

  .modal-fade-enter-active .modal-box,
  .modal-fade-leave-active .modal-box {
    transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .modal-fade-enter-from .modal-box {
    transform: scale(0.9);
  }

  .modal-fade-leave-to .modal-box {
    transform: scale(0.9);
  }
}
