@use '../mixins/_utilities' as *;
@use 'sass:math';
@use '../mixins/glass' as *;

$track-color: rgba(var(--color-glass-rgb), 0.3);
$active-color: var(--color-accent);
$thumb-size: 24px;
$track-height: 4px;

.glass-slider {
  width: 100%;
  padding: 10px 0;
}

.range-input {
  appearance: none;
  width: 100%;
  height: $thumb-size;
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $track-height;
    border-radius: math.div($track-height, 2);
    background: linear-gradient(
      to right,
      $active-color var(--slider-progress),
      $track-color var(--slider-progress)
    );
    border: 1px solid rgba(var(--color-glass-rgb), 0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: $thumb-size;
    height: $thumb-size;
    margin-top: calc(-1 * ($thumb-size - $track-height) / 2 - 1px);
    border-radius: 50%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s;

    &:active {
      transform: scale(1.1);
    }
  }

  &::-moz-range-track {
    width: 100%;
    height: $track-height;
    border-radius: math.div($track-height, 2);
    background: linear-gradient(
      to right,
      $active-color var(--slider-progress),
      $track-color var(--slider-progress)
    );
    border: 1px solid rgba(var(--color-glass-rgb), 0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  }

  &::-moz-range-thumb {
    width: $thumb-size;
    height: $thumb-size;
    border-radius: 50%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.1s;

    &:active {
      transform: scale(1.1);
    }
  }
}
