@use '../mixins/_utilities' as *;
.ui-table-view {
  background-color: var(--color-system-background-trans);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--shadow-color);
  // Remove list-like styling if used in a list context
  list-style: none;
  padding: 0;
}
