@use '../mixins/_utilities' as *;
@use 'sass:math';
@use '../mixins/glass' as *;

.glass-context-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.glass-context-menu {
  @include apply-liquid-glass(
    $material-opacity: 0.9,
    $blur: 15px
  ); // Used mixin to define glass style
  position: absolute;
  padding: 8px 0;
  min-width: 150px;
  max-width: 250px;
  border-radius: 12px;

  .menu-item {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: rgba(var(--color-glass-rgb), 0.2);
    }
  }
}
