@use '../mixins/_utilities' as *;
@use 'sass:math';
@use '../mixins/glass' as *;

$toggle-height: 32px;
$toggle-width: 52px;
$thumb-size: $toggle-height - 4px;
$transition-speed: 0.25s ease-in-out;

.glass-toggle {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  .glass-toggle-track {
    position: relative;
    width: $toggle-width;
    height: $toggle-height;
    border-radius: math.div($toggle-height, 2);
    transition: all $transition-speed;

    @include apply-liquid-glass(
      $material-opacity: 0.4,
      $blur: 8px,
      $border-opacity: 0.1
    ); // Used mixin to define glass style

    border: 1px solid transparent;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .glass-toggle-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: $thumb-size;
    height: $thumb-size;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform $transition-speed;
  }

  &.is-checked {
    .glass-toggle-track {
      background-color: var(--color-selected);
      border-color: var(--color-selected);
      box-shadow: 0 0 0 1px var(--color-selected);
    }

    .glass-toggle-thumb {
      transform: translateX($toggle-width - $thumb-size - 4px);
      background-color: white;
    }
  }
}
