@use '../mixins/_utilities' as *;
@use 'sass:math';
@use '../mixins/glass' as *; // Used mixin to define glass style

.glass-card {
  @include apply-liquid-glass(
    $material-opacity: 0.15,
    $blur: 10px
  ); // Used mixin to define glass style
  border-radius: 14px; // Added a standard radius

  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-right: 26px;

  .glass-card-header {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-text-primary);
  }

  .glass-card-footer {
    margin-top: 12px;
    padding-top: 8px;

    border-top: 1px solid rgba(var(--color-glass-rgb), 0.1);
    font-size: 0.9em;
    color: var(--color-text-secondary);
  }
}
