@use '../mixins/_utilities' as *;
@use 'sass:math';
@use '../mixins/glass' as *;

$track-height: 16px;

.glass-progress-bar {
  width: 100%;
  padding: 5px 0;

  .progress-track {
    width: 100%;
    height: $track-height;
    border-radius: math.div($track-height, 2);
    overflow: hidden;

    @include apply-liquid-glass($material-opacity: 0.1);
  }

  .progress-fill {
    height: 100%;
    background-color: var(--color-accent);
    border-radius: math.div($track-height, 2);
    transition: width 0.4s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
