@use '../mixins/glass' as *;

.picker-wrapper {
  height: 200px;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  color: var(--color-text-primary);
}

.picker-viewport {
  overflow: hidden;
  height: 100%;
  cursor: grab;
}

.picker-list {
  position: relative;
  padding: 24px;
  margin: 0;
  list-style: none;
  transition: transform 0ms linear;
}

.picker-item {
  position: absolute;
  top: 0;
  left: 0px;
  height: var(--item-height);
  line-height: var(--item-height);
  text-align: center;
  transform-origin: center center;
  color: var(--color-text-primary);
  transition:
    color 150ms ease,
    opacity 100ms linear;
}

.picker-selection-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: var(--item-height);
  margin-top: -20px;
  pointer-events: none;
}
