@use '../mixins/_utilities' as *;
@use './GlassInput' as *;

.glass-password-input-container {
  position: relative;
  display: inline-block;
  width: 100%;

  /* .glass-input {
      
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0.75rem 1rem;
      border-radius: 8px;
      color: white;
      outline: none;
  }
  */

  .glass-input {
    padding-right: 2.5rem; // Make space for the icon
  }

  .toggle-visibility-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-label-secondary);
    font-size: 1.1rem;
  }
}
