// --- System Colors (Utility/Base) ---
:root {
  /* Light Mode */
  --system-white: #ffffff;
  --system-black: #000000;
  --system-blue: #007aff;
  --system-green: #34c759;
  --system-red: #ff3b30;
  --system-orange: #ff9500;
  --system-gray: #8e8e93;
  --system-gray2: #aeaeb2;
  --system-gray3: #c7c7cc;
  --system-gray4: #d1d1d6;
  --system-gray5: #e5e5ea;
  --system-gray6: #f2f2f7;
}

.dark-mode {
  /* Dark Mode */
  --system-blue: #0a84ff;
  --system-green: #30d158;
  --system-red: #ff453a;
  --system-orange: #ff9f0a;
  --system-gray: #8e8e93;
  --system-gray2: #636366;
  --system-gray3: #48484a;
  --system-gray4: #3a3a3c;
  --system-gray5: #2c2c2e;
  --system-gray6: #1c1c1e;
}
