// --- 1. Imports ---
@import 'https://rsms.me/inter/inter.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css';

// --- 2. Base Typography/Sizing Variables ---
:root {
  /* Spacing & Sizing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
}

$font-family: 'Inter', sans-serif;

@supports (font-variation-settings: normal) {
  $font-family: InterVariable, sans-serif;
}

:root {
  --font-family: #{$font-family};

  font-family: var(--font-family);
  font-feature-settings:
    'liga' 1,
    'calt' 1;
}

html,
body {
  color: var(--ui-text-primary);
}
