@use './mixins/_utilities.scss' as *; // Import new utilities

@import 'https://rsms.me/inter/inter.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css';

:root {
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;

  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 16px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  font-family: var(--font-family-base);
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  color: var(--ui-text-color);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-label-primary);
  background-color: var(--color-system-background);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  cursor: pointer;
}
