$glass-color-light: 255, 255, 255;
$glass-color-dark: 0, 0, 0;

:root {
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
}

:root {
  --color-glass-rgb: #{$glass-color-light};
  --color-glass-bg-opacity: 0.15;
  --color-glass-border-opacity: 0.25;
  --blur-radius-base: 20px;

  --shadow-color: rgba(0, 0, 0, 0.1);
  --theming-transition:
    background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

  --ui-text-color: #000000;
  --color-label-primary: #000000;
  --color-label-secondary: #3c3c4399;
  --color-label-tertiary: #3c3c434d;

  --color-system-background: #ffffff;
  --color-system-background-trans: rgba(255, 255, 255, 0.8);
  --color-system-grouped-background: #f2f2f7;

  --color-separator: #3c3c434a;

  --color-accent: #0051a8;
  --color-error: #ff3b30;

  --color-default: #007aff;
  --color-destructive: #ff3b30;
  --color-disabled: #c7c7cc;
  --color-highlighted: #0051a8;
  --color-highlighted-text: #ffffff;
  --color-selected: #34c759;
}

:root[data-theme='dark'] {
  --color-glass-rgb: #{$glass-color-dark};
  --color-glass-bg-opacity: 0.2;
  --color-glass-border-opacity: 0.35;
  --shadow-color: rgba(255, 255, 255, 0.05);

  --ui-text-color: #ffffff;
  --color-label-primary: #ffffff;
  --color-label-secondary: #ebebf599;
  --color-label-tertiary: #ebebf54d;

  --color-system-background: #000000;
  --color-system-background-trans: rgba(0, 0, 0, 0.7);
  --color-system-grouped-background: #1c1c1e;

  --color-separator: #54545899;

  --color-accent: #0051a8;
}
